.NavbarItems {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.Nav-logo {
  color: skyblue;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 2rem;
}

.Nav-Links {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
}

.Nav-Links:hover {
  border-radius: 5px;
  transition: all 0.5s ease-in;
}
.Nav-Links.home:hover {
  background-color: skyblue;
}
.Nav-Links.about:hover {
  background-color: green;
}
.Nav-Links.mission:hover {
  background-color: goldenrod;
}
.Nav-Links.join:hover {
  background-color: red;
}
.spacer {
  flex: 1;
}

.logo {
  width: 10em;
  margin: 0 20px;
}
