* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container .colored-content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.9rem;
}
.content {
  height: 10rem;
  color: white;
  font-weight: 500;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-blue {
  background-color: rgb(30, 142, 187);
}
.content-green {
  background-color: green;
}
.content-red {
  background-color: rgb(189, 7, 7);
}
.content-orange {
  background-color: orange;
}
.content.content-blue.codelab {
  grid-column: span 2;
}
.about-us {
  margin: 10px 0;
  padding: 10px;
}
.about-us > h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(30, 142, 187);
  padding: 5px 0;
}
.about-us > p {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 4rem;
}
.about-us .conference {
  padding: 0 5px;
  color: white;
  background-color: rgb(30, 142, 187);
  border-radius: 5px;
}
.main-content .location {
  background-color: rgb(2, 2, 73);
  padding: 20px;
  margin: 30px 0;
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 800;
}
.main-content .audience-analysis .audience-analysis-text {
  background-color: rgb(30, 142, 187);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}
.main-content .audience-analysis .audience-analysis-text-reason {
  background-color: rgb(199, 198, 198);
  color: rgb(9, 9, 73);
  padding: 5px;
  text-align: left;
  font-size: 2rem;
  font-weight: 800;
}
.main-content .audience-analysis .compass .c1 {
  padding: none;
  color: white;
}
.main-content .audience-analysis .compass .c1 .nc {
  background-color: rgb(30, 142, 187);
  padding: 5px;
  font-size: 2rem;
  font-weight: 500;
}
.main-content .audience-analysis .compass .c1 .ne {
  background-color: rgb(9, 9, 73);
  padding: 5px;
  font-size: 2rem;
  font-weight: 500;
}
.main-content .audience-analysis .compass .c1 .nw {
  background-color: green;
  padding: 5px;
  font-size: 2rem;
  font-weight: 500;
}
.main-content .audience-analysis .compass .c2 {
  padding: none;
  text-align: right;
  color: white;
}
.main-content .audience-analysis .compass .c2 .ss {
  background-color: orange;
  padding: 5px;
  font-size: 2rem;
  font-weight: 500;
}
.main-content .audience-analysis .compass .c2 .se {
  background-color: rgb(9, 9, 73);
  padding: 5px;
  font-size: 2rem;
  font-weight: 500;
}
.main-content .audience-analysis .compass .c2 .sw {
  background-color: green;
  padding: 5px;
  font-size: 2rem;
  font-weight: 500;
}

.role {
  display: flex;
  color: white;
  background-color: rgb(9, 9, 73);
  justify-content: space-between;
  margin: 10px 0;
}
.role .icons-container > img {
  width: 10rem;
}
.role .roles {
  display: flex;
  flex-flow: column;
  padding: 20px;
}
.role .roles .role-header {
  font-size: 1.5rem;
}
.role .roles hr {
  background-color: white;
  height: 2px;
}
.role .roles .role-list {
  color: rgb(9, 9, 73);
  font-size: 1.5rem;
}
.role .roles .role-list .students {
  background-color: orange;
  padding: 0 5px;
}
.role .roles .role-list .developer {
  background-color: white;
  padding: 0 5px;
}
.role .roles .role-list .designer {
  background-color: rgb(30, 142, 187);
  padding: 0 5px;
}
.role .roles .role-list .enterpreneur {
  background-color: orange;
  padding: 0 5px;
}
.role .roles .role-list .others {
  background-color: green;
  padding: 0 5px;
}
.interests p {
  padding: 0.9rem;
  font-size: 1.5rem;
}
.footer {
  text-align: center;
  padding: 20px;
  background-color: skyblue;
  color: black;
}
@media only screen and (max-width: 1000px) {
  .container .colored-content-container {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
  }
  .content {
    height: 7rem;
  }
  .content.content-blue.codelab {
    grid-column: span 1;
  }
  .content.content-green.technology {
    grid-column: span 2;
  }
  .about-us > p {
    padding: unset;
  }
  .role .icons-container > img {
    display: none;
  }
  .role .roles {
    width: 100%;
    padding: 10px;
  }
  .role .roles .role-header {
    margin: 0 auto;
  }
  .role .roles .role-list {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 760px) {
  .main-content .location {
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .main-content .audience-analysis .audience-analysis-text {
    padding: 10px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
  }
  .main-content .audience-analysis .audience-analysis-text-reason {
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
  }
  .main-content .audience-analysis .compass .c1 .nc {
    padding: 5px 3px;
    font-size: 1rem;
    font-weight: 300;
  }
  .main-content .audience-analysis .compass .c1 .ne {
    padding: 5px;
    font-size: 1rem;
    font-weight: 300;
  }
  .main-content .audience-analysis .compass .c1 .nw {
    padding: 5px;
    font-size: 1rem;
    font-weight: 300;
  }
  .main-content .audience-analysis .compass .c2 .ss {
    padding: 5px;
    font-size: 1rem;
    font-weight: 300;
  }
  .main-content .audience-analysis .compass .c2 .se {
    padding: 5px;
    font-size: 1rem;
    font-weight: 300;
  }
  .main-content .audience-analysis .compass .c2 .sw {
    padding: 5px;
    font-size: 1rem;
    font-weight: 300;
  }
  .role .roles .role-list {
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
  }
  .interests p {
    font-size: 1rem;
  }
}
